<h4>Album Name: <%= @album.name %></h4>

<p><a href="/albums/<%= @album.id %>/edit">Edit album</a></p>
<p><a href="/albums">Return to album list</a></p>

<form action="/albums/<%= @album.id() %>" method="get">
  <input name="_method" type="hidden" value="sold">
  <button type="submit" class="btn-default">Buy an album</button>
</form>
    